body {
    font-family: 'Spectral';
    /* reset */
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: 700;
    font-size: 48pt;
    line-height: 0%;
}

h2 {
    font-weight: 300;
    font-size: 24pt;
    line-height: 0%;
    text-align: center;
}

h3 {
    font-weight: 300;
    font-size: 18pt;
    font-style: italic;
}

a {
    font-size: 18pt;
    width: 100%;
}

.main-view {
    display: grid;
}

.bounded-content {
    width: min(1000px, 75%);
    /*margin-left: 18%;*/
    margin-right: max(4%, 50px);
    margin-left: auto;
    justify-self: center;
}

.content-box {
    display: grid;
    justify-items: center;
    border: 2px solid black;
}

.line {
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.divider {
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 0.5rem;
}

.large-divider {
    border-left: 2px solid black;
    border-right: 2px solid black;
    height: 3rem;
}

.header-box {
    display: grid;
    grid-template-rows: 55% auto 1fr;
    height: min(32vw, 30rem);
}

.header {
    display: grid;
    align-self: end;

    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    align-items: center;
    img {
        height: 4rem;
        width: auto;
    }
}

.links {
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    text-align: right;
}

.dev-and-design-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
    height: min(40vw, 37rem);
    align-items: center;
    padding-left: 10%;
    padding-right: 10%;
}

.design-type-header {
    font-family: 'Academy Engraved LET';
    font-style: italic;
    font-size: 84pt;
    line-height: 0%;
    /* rotate: 12deg; */
    z-index: 1;
    margin-left: -16px;
    margin-bottom: 16px;

    rotate: 6deg;
    width: 95%;
}

.dev-type-header {
    /* padding-top: -30%; */
    font-family: 'Courier New';
    font-size: 84pt;
    line-height: 0%;
    padding-top: 0%;
    margin-top: 12px;
}

.dd-type-header-bottom {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: min-content auto;
    margin-top: 0%;

    h1 {
        margin-top: 0%;
        margin-right: 0%;
        font-size: 84pt;
    }
}

.apps-section {
    position: relative;
    grid-template-columns: auto auto auto;
}

.timers-img {
    width: 60%;
}

.peregrine-img {
    position: absolute;
    top: 32%;
    left: 25%;
    width: 50%;
    z-index: 1;
}

.blossom-img {
    position: absolute;
    top: 89%;
    left: 40%;
    width: 60%;
}

.breeze-img {
    position: absolute;
    width: 30%;
    top: 98%;
    left: 10%;
}
