body {
  /* reset */
  margin: 0;
  display: grid;
  justify-items: center;
}

#main-view {
  max-width: 1400px;
}

#main-title {
  font-size: 224px;
  text-transform: uppercase;
}

#main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 158px 110px;
  align-items: center;
}

#subtitle-box {
  font-size: 42px;
  background-color: #ffffff;
  border: 3px solid #000000;
  margin-right: 30px;

  p {
    text-align: center;
    margin: 0;
  }
}

#about-column {
  display: grid;
  grid-auto-rows: auto auto auto 1fr;
  grid-gap: 27px;
}

p {
  font-family: 'Playfair';
}

#media-buttons {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: auto auto;
  width: fit-content;
  justify-self: end;

  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  font-family: 'Imbue';
  font-size: 100px;
  font-variation-settings: 'opsz' 100;
  font-weight: 400;
  line-height: 88%;
  margin: 0;
}

#projects-header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0px 120px;
  align-items: center;
}

#projects-catalog {
  display: grid;
  grid-template-columns: 1fr 3px 1fr;
  margin: 40px 96px;
  align-items: center;
  border: 3px solid #000000;

  input, .project-content {
    display: none;
  }

  /* show the next project info when the corresponding "tab" is checked */
  input:checked+.project-content {
    display: inline-grid;
    grid-row: 1 / -1;
    grid-column: 3 / 3;
  }

  label {
    padding: 0px 10px;
    margin: 10px 0px;
    grid-column: 1 / 2;
    font-family: 'Playfair';
    font-size: 50px;
    font-variation-settings: 'opsz' 300;
  }

  label:hover, label:has(+input:checked) {
    /* adjust margin to accomodate underline border without layout shift */
    margin-bottom: 8px;
    border-bottom: 2px solid #000000;
    background: linear-gradient(black 0 0) bottom right / 8px 26px;
    background-repeat: no-repeat;
  }
}

#catalog-divider {
  height: 100%;
  border-right: 3px solid #000000;
  grid-column: 2 / 3;
  /*
   * see https://stackoverflow.com/questions/44052336/make-a-grid-item-span-to-the-last-row-column-in-implicit-grid
   * for why this hack is necessary
   */
  grid-row: 1 / 999;
}
