body {
  /* reset */
  margin: 0;
  display: grid;
  justify-items: center;
}

#main-view {
  max-width: 1400px;
  background-image: url(../bg-doubleslash.svg);
  background-repeat: no-repeat;
}

#main-title {
  font-size: clamp(120px, 40.976px + 13.073vw, 224px);
  text-transform: uppercase;
}

#main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
  padding: 158px clamp(15px, -1.2348rem + 9.2683vw, 110px);
  align-items: center;
}

#subtitle-box {
  font-size: clamp(32px, 28.341px + 0.976vw, 42px);
  background-color: #ffffff;
  border: 3px solid #000000;
  margin-right: 30px;

  p {
    text-align: center;
    margin: 0;
  }
}

#about-column {
  display: grid;
  grid-auto-rows: auto auto auto 1fr;
  grid-gap: 27px;
}

p, li {
  font-family: 'Playfair';
}

#media-buttons {
  display: grid;
  justify-content: end;
  margin: 0px 20px;
  width: calc(100% - 40px);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 16px;
}

h1 {
  font-family: 'Imbue';
  font-size: clamp(70px, 59.024px + 2.927vw, 100px);
  font-variation-settings: 'opsz' 100;
  font-weight: 400;
  line-height: 88%;
  margin: 0;
}

h1::after {
  content: '\00a0//'
}

#projects-header {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 0px clamp(26px, 8vw, 120px);
  align-items: center;
}

#projects-catalog {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin: 40px clamp(10px, 2vw, 96px);
  align-items: center;
  border: 3px solid #000000;
  background-color: #ffffff;

  input, .project-content {
    display: none;
  }

  /* show the next project info when the corresponding "tab" is checked */
  input:checked+.project-content {
    display: inline-grid;
    /*
     * see https://stackoverflow.com/questions/44052336/make-a-grid-item-span-to-the-last-row-column-in-implicit-grid
     * for why this hack is necessary
     */
    grid-row: 1 / 60;
    grid-column: 2 / 2;
    border-left: 3px solid #000000;
  }

  label {
    padding: 0px 10px;
    margin: 10px 0px;
    grid-column: 1 / 2;
    font-family: 'Playfair';
    font-size: 50px;
    font-variation-settings: 'opsz' 300;
  }

  label:hover, label:has(+input:checked) {
    cursor: pointer;
    margin-bottom: 8px;
    border-bottom: 2px solid #000000;
    background: linear-gradient(black 0 0) bottom right / 8px 26px;
    background-repeat: no-repeat;
  }
}

.project-content {
    padding: 20px;
    height: 0;
    min-height: calc(100% - 40px);
    overflow-y: auto;

    .project-imgs {
      display: grid;
      grid-auto-flow: column;
      gap: 20px;

      img {
        object-fit: contain;
        width: 100%;
        max-height: 500px;
      }
    }

    p {
      margin: 7px 0px;
      font-size: 20px;
    }

    li {
      margin: 4px;
      font-size: 20px;
    }

    a {
      /* font-weight: 700; */
      color: black;
      text-decoration: none;
      color: #3462bf;
    }

    a::before {
      content: '[';
      font-size: 22px;
    }

    a::after {
      content: ']';
      font-size: 22px;
    }

    a:hover {
      color: #a5bad9;
    }

    .project-desc {
      font-style: italic;
    }
}

#observatory {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 148px clamp(8px, 6vw, 170px);
}

#observatory-header {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 30px;
  margin-bottom: 10px;

  h1 {
    margin-left: 20px;
  }

  .info-box {
    text-align: right;
  }
}

#observatory-essays, #observatory-pinned {
  grid-row: 1;

  display: grid;
  grid-auto-flow: row;
  height: fit-content;
}

#observatory-essays {
  padding-top: 40px;
}

footer {
  display: grid;
  grid-template-columns: auto 1fr;
  margin: 200px 0px;
  padding: 63px 50px;
  border: 3px solid #000000;
  background-color: #ffffff;
  gap: 15px;

  h1 {
    font-size: 100px;
  }

  div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    align-self: end;
  }

  div > p {
    margin: 0px;
  }

  div > p:last-child {
    flex-basis: 100%;
  }
}
