@media screen and (max-width: 1035px) {
  #main-header {
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }

  #about-column {
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 16px;
  }

  #projects-header {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  #media-buttons {
    width: auto;
  }

  #subtitle-box, #media-buttons, #about-column .info-box, #projects-header .info-box {
    margin: 0px;
  }
}

@media screen and (max-width: 850px) {
  #projects-catalog {
    height: auto;
    grid-template-columns: 1fr;

    input:checked+.project-content {
      grid-row: auto;
      grid-column: 1;
      border-left: none;
      border-bottom: var(--default-border);
    }
  }

  #observatory {
    grid-template-columns: 1fr;
  }

  #observatory-essays {
    padding-top: 0;
    grid-row: 2;
  }
}

@media screen and (max-width: 760px) {
  footer {
    grid-template-columns: 1fr;
  }
}
