.info-box {
  padding: 12px 13px;
  border: var(--default-border);
  background-color: var(--default-bg-color);
  margin: 0px 20px;

  p {
    margin: 0;
    font-size: clamp(20px, 15.073px + 0.78vw, 26px);
  }
}

.default-button, .observatory-post {
  border-top: var(--default-border);
  border-bottom: var(--default-border);
  border-left: var(--thick-border);
  border-right: var(--thick-border);
  background-color: var(--default-bg-color);
  transition: .3s ease;
}

.default-button {
  color: black;
  font-size: 26px;
  text-decoration: none;
  text-align: center;

  padding: 10px 20px;
  height: fit-content;
}

.observatory-post {
  margin: 10px 18px;
  padding: 8px;

  p {
    margin: 0px;
    margin-top: 8px;
  }
}

.default-button:hover, .observatory-post:hover {
  border-top: var(--thick-border);
  border-bottom: var(--thick-border);
  border-left: var(--default-border);
  border-right: var(--default-border);
}

.default-button:hover {
  padding: 4px 26px;
}

.observatory-post:hover {
  padding: 2px 14px;
}

.post-title {
  font-size: 26px;
}

.post-desc {
  font-size: 20px;
}

.post-date {
  font-size: 18px;
  font-style: italic;
  text-align: right;
}
