<!DOCTYPE html>
<html lang="en">

  <head>
    <title>nathan yeung //</title>
    <meta property="description" content="student + programmer">
    <link rel="stylesheet" href="css/fonts.css" />
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/reusable.css" />
    <link rel="stylesheet" href="css/resizes.css" />
    <link rel="shortcut icon" type="image/svg" href="/ny-logo.png" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:title" content="nathan yeung //">
    <meta property="og:description" content="student + programmer">
    <meta property="og:image" content="https://nathanyeung.ca/ny-logo.png">
    <meta property="og:url" content="https://nathanyeung.ca">
  </head>

  <body>
    <div id="main-view">
      <div id="main-header">
        <div>
          <h1 id="main-title">nathan yeung</h1>
          <div id="subtitle-box"><p>software + design</p></div>
        </div>
        <div id="about-column">
          <div class="info-box">
            <p style="text-align: right">
            student @ ubc [cs, bio]<br />
            frontend dev [desktop, web, mobile]<br />
            [vancouver, canada]<br />
            </p>
          </div>
          <div class="info-box">
            <p>I design software that uses unique interfaces to reshape the way we think.</p>
          </div>
          <div class="info-box">
            <p>Current interests: bioinformatics, datetime programming, and offline-first sync systems.</p>
          </div>
          <div id="media-buttons">
            <a
                href="https://github.com/ThatNerdSquared"
                target="_blank"
                class="default-button"
                ><strong>github</strong></a>
            <a
                href="https://buymeacoffee.com/nathanyeung"
                target="_blank"
                class="default-button"
                ><strong>buy me a tea</strong></a>
          </div>
        </div>
      </div>
      <div id="projects">
        <div id="projects-header">
          <h1>projects</h1>
          <div class="info-box">
            <p>
            languages: typescript // python // dart // go // bash<br />
            technologies: react // flutter // postgresql // riverpod // proxy servers<br />
            </p>
          </div>
        </div>
        <div id="projects-catalog">
          {% set section = get_section(path="projects/_index.md") %}
          {% for page in section.pages %}
          <label for="{{ page.extra.id }}">{{ page.extra.name }}</label>
          <input
              type="radio"
              id="{{ page.extra.id }}"
              name="tab"
              {% if loop.index0 == 0 %}
              checked="checked"
              {% endif %}
              />
          <div class="project-content">
            <p class="project-desc">{{ page.extra.desc }}</p>
            <div class="project-imgs">
              {% for item in page.extra.hero_imgs %}
              <img src="{{ item }}" alt="{{ page.extra.name }} screenshot" />
              {% endfor %}
            </div>
            <p>stack:
            {% for item in page.extra.stack %}
            {{ item }} //
            {% endfor %}
            </p>
            <p>links:
            {% for text, link in page.extra.links %}
            <a href="{{ link }}" target="_blank">{{ text }}</a> //
            {% endfor %}
            </p>
            {{ page.content | safe }}
          </div>
          {% endfor %}
        </div>
      </div>
      <div id="observatory">
        <div>
          <div id="observatory-header">
            <h1>the observatory</h1>
            <div class="info-box">
              <p>
              writings on a variety of topics — devlogs, design experiments, project updates, and more.
              </p>
            </div>
          </div>
          <div id="observatory-pinned">
            {% set observatory_pinned = get_section(path="observatory/pinned/_index.md") %}
            {% for page in observatory_pinned.pages %}
            <div class="observatory-post">
              <p class="post-title"><strong>{{ page.extra.title }}</strong></p>
              <p class="post-desc">{{ page.extra.desc }}</p>
              <p class="post-date">{{ page.extra.date }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div id="observatory-essays">
          <div class="info-box">
            <p>Coming soon...</p>
          </div>
          {% set observatory_essays = get_section(path="observatory/essays/_index.md") %}
          {% for page in observatory_essays.pages %}
          <div class="observatory-post">
            <p class="post-title"><strong>{{ page.extra.title }}</strong></p>
            <p class="post-desc">{{ page.extra.desc }}</p>
            <p class="post-date">{{ page.extra.date }}</p>
          </div>
          {% endfor %}
        </div>
      </div>
      <footer>
        <h1>NY</h1>
        <div>
          <p>© 2022-2024.</p>
          <p>built with 🫶 and 🧋.</p>
          <p>contact: nathanyeung [at] outlook [dot] com</p>
          <p>for open-source software support, please file a Github issue at the appropriate repo.</p>
        </div>
      </footer>
    </div>
  </body>

</html>
