.App {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  padding-top: 4rem;
  row-gap: 0.5rem;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  max-height: calc(100vh - 4rem);
}

.app-content {
  display: grid;
  grid-template-columns: 25rem 25rem;
  column-gap: 2rem;
}

.left-col {
  display: grid;
  grid-template-rows: auto auto 1fr;
  justify-items: right;
  row-gap: 3rem;
}

.right-col {
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-items: left;
  row-gap: 3rem;
  margin-top: 5rem;
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
}

.project-pane {
  text-align: center;
  font-size: 2rem;
  color: white;
}

.footer {
  display: grid;
  grid-template-columns: 1fr;
  height: 4rem;
  width: 100%;
  bottom: 0;
  margin-top: 2rem;
  padding-right: 2rem;
  padding-left: 2rem;
  text-align: center;
  align-items: center;
  background-color: #ffffff;
  color: #8F8F8F;
  box-shadow:
      rgba(0, 0, 0, 0.20) 0px 0px 0px 0px,
      rgba(128, 128, 128, 0.5) 3px 3px 6px 0px inset,
      rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

@media screen and (max-width: 53rem) {
  .app-content {
    grid-template-columns: 1fr;
    row-gap: 0rem;
  }

  .left-col {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-items: center;
  }

  .right-col {
    justify-items: center;
    margin-top: 0rem;
  }
}