.App {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 4rem;
}

.app-content {
  display: grid;
  grid-template-columns: 25rem 25rem;
  column-gap: 2rem;
}

.left-col {
  display: grid;
  grid-template-rows: auto auto 1fr;
  justify-items: right;
  row-gap: 3rem;
}

.right-col {
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding-left: 2rem;
  padding-right: 2rem;
  justify-items: left;
  row-gap: 3rem;
  margin-top: 5rem;
}

@media screen and (max-width: 53rem) {
  .app-content {
    grid-template-columns: 1fr;
    row-gap: 0rem;
  }

  .left-col {
    padding-left: 2rem;
    padding-right: 2rem;
    justify-items: center;
  }

  .right-col {
    justify-items: center;
    margin-top: 0rem;
  }
}