:root {
  font-family: "Spectral";
  overflow-x: hidden;
}

h1{
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Spectral';
  src: url('fonts/Spectral-Regular.ttf'), url('fonts/Spectral-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}