.projectcard-wrapper {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 1rem;
    width: 25rem;
    height: auto;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px;
    border-radius: 20px;
    /* margin-bottom: 1rem; */
    margin: 1rem;
}

.project-metadata {
    text-align: left;
}

.project-text {
    text-align: left;
    margin: auto;
    margin-right: 2rem;
}

.project-icon {
    width: 5rem;
    vertical-align: top;
}

.project-tag-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-tag {
    width: max-content;
    padding: 0.5em;
    margin-right: 0.5em;
    margin-top: 0.5em;
    border-radius: 5px;
    box-shadow: 4px -4px 19px 0px rgba(0, 0, 0, 0.1) , -5px 5px 0px 0px #d1e4ff;
}

.project-title {
    display: grid;
    grid-template-columns: auto auto 1fr;
    column-gap: 1em;
}