.statusbox {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 0.3em;
    border-radius: 5px;
    padding: 0.3em;
    align-items: center;
}

.statusbox p {
    margin: 0;
}

.circle {
    display: inline-block;
    border-radius: 50%;
    height: 0.6em;
    width: 0.6em;
    margin: 0;
    align-items: center;
}

.activeBgColour {
    background-color: #abf4b4;
}

.activeFgColour {
    background-color: #509773;
}

.activeFgText {
    color: #509773;
}

.dormantBgColour {
    background-color: #ffe148;
}

.dormantFgColour {
    background-color: #ebb200;
}

.dormantFgText {
    color: #ebb200;
}